# Environments
.venv/
.arvix/
.env*
.idea/
.vscode/

# Arquivos cache e compilados
__pycache__/
*.pyc

# Flet antigo
flet_ui/
logs/
pdfs_baixados/
*.pdf

# Cache interno
app/cache/

# Arquivos temporários
diretorio.txt
arxiv_streamlit_extras.py

